{% extends 'base.html' %}
{% block content %}
<h1>Products for Offer: {{ offer.title }}</h1>
<div class="products-container">
    {% for product in products %}
    <div class="product-item">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: Rs.{{ product.price }}</p>
        <form action="{% url 'add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
